body {
  background-color: rgb(231, 199, 169);
  background-image: url('IMG/s3.png');
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0;
}

.navbar {
  width: 100%;
  overflow: auto;
  background-image: linear-gradient(to bottom right,
      rgb(231, 199, 169),
      rgb(156, 172, 216));
}

.navbar a {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 20px;
  color: orangered;
  font-size: 20 px
}


.navbar a:hover {
  background-image: linear-gradient(to bottom right,
      rgb(231, 199, 169),
      rgb(156, 172, 216));
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: inline-block;
  }
  body{
    float: none;
    display: inline-block;
  }
  .all{
    float: none;
    display: inline-block;
  }
  
}


.Main {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  padding: 3px;
}

.Grid {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.logo {
  float: left;
  padding-left: 60px;
}

.all {
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px;
  margin: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  text-shadow: 2px 1px black;
}

p {
  font-size: 15px;
  font-weight: 900;
  padding: 2px;
  background-image: linear-gradient(to bottom right,
      rgb(231, 199, 169),
      rgb(156, 172, 216));
  color: orangered;
  text-align: center;
  border-radius: 50px;
}
.details a{
  font-size: 18px;
  font-weight: 900;
  padding: 2px;
  color: black;
  border: solid orangered ;
  background-image: linear-gradient(to bottom right,
      rgb(231, 199, 169),
      rgb(156, 172, 216));
  border-radius: 50px;
  
}